.outterBox{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.styledInput{
    height:5vh;
    width:15vw;
    background-color: lightgray;
    opacity: .2;
    border-radius: 10px;
    border:none;
    margin-left: auto;
    margin-right: auto;
    color:black;
    font-weight: bold
}
.circleDiv{
    margin-left:auto;
    margin-right:auto;
    margin-top: 2rem;
}
.imageStyle{
    height:50px;
    width: 50px;
    border-radius: 50%;
}
.styleButton{
    height: 5vh;
    border-radius: 3px;
    border:none;
    background-color: lightgray;
}
/* Styling the list element */ 
.ulStyle{
    list-style: none;
    background-color: white;
    width: 22vw;
    margin-left: auto;
    border-radius: 5px;
     margin-right: auto;
     padding:0;
}
.listStyle{
     display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}
.deleteButton{
    background-color: none;
    background: none;
    border:none;
}
.saveButton{
    height: 5vh;
    width:3vw;
    border:none;
    border-radius: 3px;
    background-color:#FFBFBF;
}
.errorMessage{
    color:red;
}